<div [class.calendar-page]="pathName === '/calendar'">
  @if (pathName === '/calendar') {
  <div class="calendar-left">
    <div class="card-container w-100 event-card">
      <div class="card-body">
        <button class="my-button new-event w-100">New Event</button>
        <app-datepicker></app-datepicker>
      </div>
    </div>
    <div class="card-container w-100">
      <div class="card-header">
        <h3 class="card-title">Event Filters</h3>
      </div>
      <div class="card-body">
        @for (filter of filters; track $index) {
        <div (click)="toggleFilter($index)" class="my-filter">
          <input
            type="checkbox"
            id="filter-{{ $index }}"
            name="filter-{{ $index }}"
            [checked]="filter.checked"
          />
          <div>{{ filter.text }}</div>
        </div>
        }
      </div>
    </div>
  </div>
  }

  <full-calendar
    class="calendar-container"
    [options]="calendarOptions"
  ></full-calendar>
</div>
